body {
    /*background: #2a2d29;*/
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
#progress-bar {
background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
--scrollAmount: 0%;
width: var(--scrollAmount);
position: fixed;
height: 6px;
top: 0;
}
#header {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}
#ansh-cool {
    position: absolute;
    left: 0;
    top: 15%;
    font-size: 5rem;
    padding-left: 180px;
    /*color: aqua;*/
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
#description {
    font-size: 2rem;
    margin: 0px 20px;
    padding: 15px 0px;
    /*color: chartreuse;*/
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
}
.divider {
    margin: 50px 20px;
    border: 2px solid #14dc5a;
    border-radius: 10px;
}
.header {
    font-size: 2.7rem;
    margin: 20px;
    padding: 15px 0px;
    text-align: center;
    color: #b39a0f;
}
.card {
    display: flex;
    justify-content: space-around;
    background: #222222;
    margin: 20px;
    padding: 15px;
    border-radius: 30px;
    font-size: 2em;
    color: azure;
}
.card h2 {
    align-self: center;
    font-size: 3rem;
}
.card p {
    font-size: 1em;
    width: 50vw;
}
#kfc-chickendales {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    height: auto;
    border-radius: 20px;
}
#contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0px;
    color: chartreuse;
}
#contact-section p {

    margin: 0px 20px;
    font-size: 2.2rem;
    padding: 30px 0px;
    color: chartreuse;
}
#contact-btn {
    width: 33vw;
    background: #1e3785;
    padding: 30px;
    border-radius: 15px;
    border: none;
    font-size: 2rem;
    margin-right: 20px;
    color: yellow;
} 
iframe {
    margin-left: 20px;
}
#contact {
    display: flex;
    align-items: center;
    color: chartreuse;
}

footer {
    position: absolute;
    bottom: 0;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    margin-top: 15px;
    background: #b39a0f;
}
.footer p {
    color: #202020;
    padding: 0px 10px;
}

